<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ==== CSS ===-->
    <link rel="stylesheet" href="static/css/styles.css">

    <!-- === BOX ICONS ===-->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>



    <title>Portfolio</title>
</head>
<body>
    <!-- === HEADER ===-->
    <header class="l-header">
        <nav class="nav bd-grid">
            <div class="nav_toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>

            <div>
                <a href="#" class="nav_logo">SUJANNYA</a>
            </div>

            <div class="nav_menu" id="nav-menu">
                <div class="nav_close" id="nav-close">
                    <i class='bx bx-x' ></i>
                </div>

                <ul class="nav_list">
                    <li class="nav_item"><a href="#home" class="nav_link active">Home</a></li>
                    <li class="nav_item"><a href="#about" class="nav_link active">About</a></li>
                    <li class="nav_item"><a href="#skills" class="nav_link active">Skills</a></li>
                    <li class="nav_item"><a href="#achievements" class="nav_link active">Achievements</a></li>
                    <li class="nav_item"><a href="#hobbies" class="nav_link active">Hobbies</a></li>
                    <li class="nav_item"><a href="#contact" class="nav_link active">Contact</a></li>
                </ul>

            </div>

        </nav>
    </header>


    <main class="l-main">
        <!--==== HOME====-->
        <section class="home" id="home">
            <div class="home_container bd-grid">
                <div class="home_data">
                    <div class="home_img">
                        <img src="static/img/home.jpeg" alt="">
                    </div>

                    <h1 class="home_title">Sujannya Khan</h1>
                    <span class="home_profession">Student of IT</span>

                    <div class="home_social">
                        <a href="#" class="home_social-link"><i class='bx bxl-facebook-square'></i></a>
                        <a href="#" class="home_social-link"><i class='bx bxl-instagram' ></i></a>
                        <a href="#" class="home_social-link"><i class='bx bxl-github' ></i></a>
                        
                    </div>

                    <a download="" href="#" class="button home_button">Download Resume</a>
                </div>

            </div>

        </section>



        <!--==== ABOUT====-->
        <section class="about section" id="about">
            <span class="section-subtitle">My Introduction</span>
            <h2 class="section-title">About Me</h2>

            <div class="about_container bd-grid">
                <div class="about_data">
                    <p class="about_description">
                        Hi I am a student of IT 2nd year.
                        Right now I'm learning about web developement.
                        I am passionate about coding and solving problems.
                        I am very optimistic about the fact that I would be able to deliver my best works in my skills demanding areas.</p>
                        <img src="static/img/about.jpeg" alt="" class="about_img">
                </div>

                <div>
                    <div class="about_information">
                        <h3 class="about_information-title">Information</h3>
    
                        <div class="about_information-data">
                            <i class='bx bx-user about_information-icon'></i>
                            <span>Sujannya Khan</span>
                        </div>
    
                        <div class="about_information-data">
                            <i class='bx bx-phone about_information-icon'></i>
                            <span>89******74</span>
                        </div>
    
                        <div class="about_information-data">
                            <i class='bx bx-envelope about_information-icon'></i>
                            <span>ksujannya@gmail.com</span>
                        </div>
                    </div>
    
                    <div class="about_information">
                        <h3 class="about_information-title">Experience and support</h3>
    
                        <div class="about_information-data">
                            <i class='bx bx-medal about_information-icon'></i>
                            <div>
                                <span class="about_information-subtitle">Recently built</span>
                                <span class="about_information-subtitle">a Todo App</span>
                            </div>
                        </div>
    
                        <div class="about_information-data">
                            <i class='bx bx-briefcase about_information-icon'></i>
                            <div>
                                <span class="about_information-subtitle">1 project</span>
                                <span class="about_information-subtitle">and few coding </span>
                                <span class="about_information-subtitle">problems solved </span>
                            </div>
                        </div>
    
                        <div class="about_information-data">
                            <i class='bx bx-support about_information-icon'></i>
                            <div>
                                <span class="about_information-subtitle">Support</span>
                                <span class="about_information-subtitle">Online 24/7</span>
                            </div>
                        </div>
                    </div>
                </div>  
            </div> 
        </section>


        <!--==== SKILLS ====-->
        <section class="skills section" id="skills">
            <span class="section-subtitle">Why Choose Me</span>
            <h2 class="section-title">My Expertise Area</h2>

            <div class="skills_container bd-grid">
                <div class="skills_content">
                    <h3 class="skills_subtitle">Frontend</h3>

                    <div class="skills_data">
                        <span class="skills_name">Html/css</span>
                        <span class="skills_number">50%</span>
                        <span class="skills_bar skills_html"></span>
                    </div>

                    <div class="skills_data">
                        <span class="skills_name">Javascript</span>
                        <span class="skills_number">35%</span>
                        <span class="skills_bar skills_js"></span>
                    </div>
                </div>

                <div class="skills_content">
                    <h3 class="skills_subtitle">Backend</h3>

                    <div class="skills_data">
                        <span class="skills_name">MySql</span>
                        <span class="skills_number">60%</span>
                        <span class="skills_bar skills_mysql"></span>
                    </div>

                    <div class="skills_data">
                        <span class="skills_name">Python</span>
                        <span class="skills_number">80%</span>
                        <span class="skills_bar skills_python"></span>
                    </div>
                </div>
                <div class="skills_content">
                    <h3 class="skills_subtitle">OpenCv</h3>

                    <div class="skills_data">
                        <span class="skills_name">Data Structure</span>
                        <span class="skills_number">90%</span>
                        <span class="skills_bar skills_ds"></span>
                    </div>

                    <div class="skills_data">
                        <span class="skills_name">Image & Video processing</span>
                        <span class="skills_number">55%</span>
                        <span class="skills_bar skills_imvdo"></span>
                    </div>
                </div>

            </div>

        </section>

        <!---===== HOBBIES =====-->
        <section class="hobbies section" id="hobbies">
            <h2 class="section-title">Hobbies</h2>

            <div class="hobbies_container bd-grid">
                <div class="hobbies_img">
                    <img src="static/img/h1.jpg" alt="">

                    <div class="hobbies_data">
                        <span class="hobbies_title">Singing</span>
                    </div>
                </div>
            </div>

            <div class="hobbies_container bd-grid">
                <div class="hobbies_img">
                    <img src="static/img/h2.jpg" alt="">

                    <div class="hobbies_data">
                        <span class="hobbies_title">Sketching</span>
                    </div>
                </div>
            </div>

            <div class="hobbies_container bd-grid">
                <div class="hobbies_img">
                    <img src="static/img/h3.jpg" alt="">

                    <div class="hobbies_data">
                        <span class="hobbies_title">Cooking</span>
                    </div>
                </div>
            </div>
        </section>

        <!--===== ACHIEVEMENTS ======-->
        <section class="achievements section" id="achievements">
            <span class="section-subtitle">What I Achieved</span>
            <h2 class="section-title">My Achievements</h2>

            <div class="achievements_container bd-grid">
                <div class="services_content">
                    <i class='bx bxs-dice-6 achievements_icon'></i>
                    <h3 class="achievements_title">Ludo</h3>
                    <p class="achievements_description">Participated in college sports 'EXUBERENCE'.</p>
                </div>

                <div class="services_content">
                    <i class='bx bxl-python achievements_icon'></i>
                    <h3 class="achievements_title">ML and Data Science</h3>
                    <p class="achievements_description">Successfully built a HAND GESTURE RECOGNITION project using python and OpenCV. </p>
                </div>

                <div class="services_content">
                    <i class='bx bx-paint achievements_icon'></i>
                    <h3 class="achievements_title">Painting</h3>
                    <p class="achievements_description">Won enormous painting competitions in school days.</p>
                </div>

            </div>
        </section>

        <!--===== CONTACT ======-->
        <section class="contact section" id="contact">
            <span class="section-subtitle">Contact Me</span>
            <h2 class="section-title">Get In Touch</h2>

            <div class="contact_container bd-grid">
                <form action="/" method="POST" class="contact_form">
                    <div class="contact_inputs">
                        <input type="text" placeholder="Name" name="name" class="contact_input">
                        <input type="mail" placeholder="Email" class="contact_input" name="email">
                    </div>
                    
                    <textarea name="message"   id=""  cols="0"  rows="10" placeholder="write a message"  class="contact_input"></textarea>

                    <input type="submit"  value="Send Message" class="button contact_button">
                </form>
                <div>
                    <div class="contact_info">
                        <h3 class="contact_subtitle">Available at</h3>
                        <span class="contact_text">89******74</span>
                    </div>

                    <div class="contact_info">
                        <h3 class="contact_subtitle">Email</h3>
                        <span class="contact_text">ksujannyagmail.com</span>
                    </div>

                    <div class="contact_info">
                        <h3 class="contact_subtitle">Location</h3>
                        <span class="contact_text">Durgapur, A-zone</span>
                        <span class="contact_text">West Bengal</span>
                    </div>


                </div>
            </div>
        </section>
    </main>

    <!--=== FOOTER ===-->
    <footer class="footer section">
        <div class="footer_container bd-grid">
            <h1 class="footer_title">Sujannya</h1>
            <p class="footer_description">I am sujannya and this is my personal website,consult me here.</p>

            <div class="footer_social">
                <a href="#" class="footer_link"><i class='bx bxl-facebook-square'></i></a>
                <a href="#" class="footer_link"><i class='bx bxl-instagram'></i></a>
                <a href="#" class="footer_link"><i class='bx bxl-github'></i></a>
            </div>

        </div>
        
    </footer>


    <!--=== MAIN JS ===-->
    <script src="static/js/main.js"></script>
    
</body>
</html>